on:
  workflow_dispatch:   
  schedule:
    # runs once a day
    - cron: "05 22 * * *"
    
jobs:
  zenodo_stats:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    defaults:
      run:
          working-directory: .

    # Steps represent a sequence of tasks that will be executed as part of the job
    
    steps:
    - name: Check out repo
      uses: actions/checkout@v4 
      
    - name: Check out NMRLipids/Databank
      uses: actions/checkout@v4
      with:
        repository: NMRLipids/Databank
        path: NMRLipidsDB
    
    # Get zenodo DOIs and query stats from API
    - name: Zenodo stats
      run: |
        .scripts/zenodo_stats.sh
   
    # Commits files to repository
    - name: Commit changes
      uses: EndBug/add-and-commit@v4
      with:
        author_name: GitHub action
        message: "Zenodo stats"
        add: 'traffic/zenodo_stats.csv'
